%h1 All Participations
%h3= link_to 'Add new participation', new_participation_path
%table#participations
  %thead
    %tr
      %th user_id
      %th group_id
  %tbody
    - @participations.each do |participation|
      %tr
        %td= participation.user_id
        %td= participation.group_id
 
        // %td= link_to "#{group.group_name}", group_path(group)
        // %td= link_to " Delete", group_path(group), method: :delete, data: {confirm:"are you sure?"}
