<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to StudyGroupFinder, <%=@user.first_name%></h3>
    <p>You have successfully signed up for <%=@name%></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>