%html
  %body
%h2{:class=>"header"} Details about #{@group.group_name}
%h4{:class=>"description text-success"}
  Location:
  =@group.location
%h4{:class=>"description text-success"}
  Members
  %table#participations{:class=>"list"}
    %tbody
      - @participations.each do |participation|
        %tr
          -@u = User.where(:id => participation.user_id)
          -@u.each do |u|
            %tr
              %td= u.email

<<<<<<< HEAD
%div
&emsp;
%a.btn.btn-lg.btn-primary{:href => new_participation_path(@group, "idd" => @group.group_id),:role => "button"} Join Group
&nbsp&nbsp&nbsp       &emsp;
%h5= link_to "Delete Group", @channel, method: :delete, data: {confirm:"Are you sure?"}, class: "show-delete"
=======

-# %button{:class=>"button"} Join! = create_participation_path
%button=link_to 'Join',  new_participation_path(@group, "idd" => @group.group_id, "name" => @group.group_name), class: "button"
-# %h6= link_to 'Add Member', new_participation_path(@group), class: "show"
%h5= link_to "Delete Group", @group, method: :delete, data: {confirm:"are you sure?"}, class: "show-delete"
>>>>>>> f110989c7b1f53fe13f5d4b9e59134e34ed24f6f
//= submit_tag 'join group', add_group_path