%html
  %body{:class=>"show-bg"}

%h2{:class=>"header"} Details about #{@group.group_name}

%h4{:class=>"description"} 
  Location: 
  =@group.location
%h4{:class=>"description"}
  Members
  %table#participations{:class=>"list"}
    %tbody
      - @participations.each do |participation|
        %tr
          %td= participation.user_id

%h6= link_to 'Add Member', new_participation_path(@group), class: "show"
%h5= link_to "Delete Group", @group, method: :delete, data: {confirm:"are you sure?"}, class: "show-delete"
//= submit_tag 'join group', add_group_path
