%h2 Details about #{@user.email}


%ul#details
//   %li
//     Location:
//     = @group.location
//   %li
//     Members:
//     = @group.members


// = submit_tag 'Add members' 
// %h3= link_to "Delete", @group, method: :delete, data: {confirm:"are you sure?"}
// = link_to 'Back to group list', groups_path
//= submit_tag 'join group', add_group_path
