<!--<h1>Welcome#new</h1>-->


<div class="container">
  <div class="row justify-content-center">
    <div class="card border-primary mb-3" style="width: 36rem; height: 25rem;">
      <div class="card-body">
        <p> Welcome to StudyGroupFinder! <br><br>This website is designed for you to create and join groups to study with your classmates!<br><br><br>Simply sign in below to start studying </p>
        <div class="row justify-content-center"> 
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary a-custom2" %> 
        </div>
      </div>
    </div>
  </div>
</div>






