/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


.navbar-custom {
  background-color: #f26d6d;
  // navbar-expand-lg navbar-dark bg-dark
}

.navbar {
  a:hover {
    background-color: #007bff !important;
    color: white !important;
  }
}

.btn {
  a {
    color: white !important;
  }
}

// .sr-only a.active {
//   background-color: #f7f8fa !important;
//   color: #019fc2 !important;
//   cursor: default;
// }

.a-custom {
  color: #007bff;
  &:visited {
    color: #007bff;
  }
}

.show {
  a {
    color: #007bff !important;
  }
  margin-left: 4.8em;
}

.show-delete {
  color: #bf0f0f !important;
  margin-top: 1em;
  margin-left: 1.5em;
}

.show-bg{
  background-color: #383c40 !important;
}

.header {
  margin-top: 1em;
  margin-left: 1em;
  color: #007bff;
}

.description {
  color: #f8f9fa;
  margin-left: 2em;
}

.list {
  margin-top: 0.5em;
  margin-left: 1em;
}

.list2 {
  margin-left: 2em;
}


