// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  background-color: black;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  display: block;
  background-image: url(/assets/studygroup.jpg);
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-size:cover;
  background-repeat: no-repeat;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11em;
    filter: blur(none) !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.a-custom2 {
  color: white;
  &:visited {
    color: white;
  }
}